<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [5]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [6]:
for a in languages:
    print(a)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
languages.insert(1,'temp')

Print the value of temp and type(temp)

In [8]:
print(languages[1])
print(type('temp'))

temp
<class 'str'>

Append the element 'Java' in the list

In [9]:
languages.append('Java')
languages

['R', 'temp', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [10]:
languages.pop(5)
languages

['R', 'temp', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [11]:
colors=['Red','Blue','Java']

Append the element 'Black' to colors

In [12]:
colors.append('Black')
colors

['Red', 'Blue', 'Java', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [13]:
colors.insert(1,'Orange')
colors

['Red', 'Orange', 'Blue', 'Java', 'Black']

Print the list

In [14]:
print(colors)

['Red', 'Orange', 'Blue', 'Java', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [15]:
colors2=['Grey','SkyBlue']

Add the elements of colors2 to colors using extend function in the list

In [16]:
colors.extend(colors2)

Print len of colors and its elements

In [17]:
print(len(colors))

7

Sort the list and print it.

In [18]:
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Java', 'Orange', 'Red', 'SkyBlue']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [19]:
sent="Coronavirus Caused Lockdowns Around The World"

Use split function to convert the string into a list of words and save it in variable words and print the same

In [20]:
words=sent.split()
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [21]:
words_lower=[words.lower() for words in words]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [22]:
a='country'
for a in words:
     a

Remove the element ‘the’ from the list and print the list.

In [23]:
words_lower.remove('the')

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [24]:
x4=words_lower[:4]

In [25]:
# print x4

x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [26]:
str=" ".join(words_lower)
str

'coronavirus caused lockdowns around world'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [27]:
stud_grades=['A','A','B','C','c','F']

Print the len of stud_grades

In [28]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [29]:
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [30]:
print(stud_grades_set)

{'c', 'F', 'A', 'C', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [31]:
print(type(stud_grades))
print(type(stud_grades_set))
print(stud_grades,stud_grades_set)

<class 'list'>
<class 'set'>
['A', 'A', 'B', 'C', 'c', 'F'] {'c', 'F', 'A', 'C', 'B'}

Add a new element ‘G’ to stud_grades_set

In [32]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [33]:
stud_grades_set.add('F')
print(stud_grades_set)

{'c', 'F', 'G', 'A', 'C', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [34]:
stud_grades_set.remove('F')
print(stud_grades_set)

{'c', 'G', 'A', 'C', 'B'}

Print the elements and the length of stud_grades_set

In [35]:
print(len(stud_grades_set))

5

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [36]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [37]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [38]:
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [39]:
print(colors_set.union(fruits_set))

{'red', 'blue', 'apples', 'grapes', 'orange'}

Find the intersection of both the sets

In [40]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [41]:
print(fruits_set.difference(colors))

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [42]:
temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [43]:
print(temp)

[17, 'Virat', 50.0]

replace first element with 11 in temp

In [44]:
y=list(temp)
y[0]=11
temp=tuple(y)
print(temp)

(11, 'Virat', 50.0)

Set temp1 = tuple(temp)

In [46]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [47]:
print(temp1)

(11, 'Virat', 50.0)

replace first element with 17 in temp1

In [48]:
y=list(temp1)
y[0]=17
temp1=tuple(y)
print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [49]:
city=('Bangalore',28.9949521,72)

Print first element of city

In [51]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [52]:
city2=('Chennai',30.01,74)

Create cities which consist of city and city2

In [54]:
cities=city+city2

Print cities

In [55]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [56]:
print(type(cities[0]))

<class 'str'>

print the type of cities

In [57]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [58]:
d={"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [59]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [60]:
actor=d["actor"]
actor

'amir'

Print the type of actor

In [61]:
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [62]:
list=d["list"]
list

[23, 32, 12]

Print the type of List.

In [63]:
print(type(list))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [64]:
d1={'singer':'krisna','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [67]:
d.update(d1)

print d

In [68]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'krisna', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [71]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [72]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'krisna', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [74]:
d.items()

dict_items([('actor', 'amir'), ('animal', 'cat'), ('earth', 2), ('list', [23, 32, 12]), ('singer', 'krisna'), ('album', 'Still here'), ('genre', 'hip-hop')])

count the number of occurences of charachters in string named "sent" using dictionary and print the same.